<div class="mb-4">
    <div class="field mb-3 required">
        <label for="sylius_shop_add_to_cart_cartItem_quantity" class="form-label required">Quantity</label>
        <input type="number"
               id="sylius_shop_add_to_cart_cartItem_quantity"
               name="sylius_shop_add_to_cart[cartItem][quantity]"
               required="required"
               min="10"
               step="10"
               data-test-quantity=""
               class="form-control"
               onchange="productQuantityChange(this.value)"
               value="{{ hookable_metadata.context.form.cartItem.quantity.vars.value == 1 ?
               10 : hookable_metadata.context.form.cartItem.quantity.vars.value }}"
        >
    </div>
</div>

<script>
    const element = document.getElementById('sylius_shop_add_to_cart_cartItem_quantity');

    function productQuantityChange(value) {
        let quantity = Math.round(parseInt(value, 10) / 10) * 10;
        if (value < 10) {
            quantity = 10;
        }
        element.value = quantity;

        if (quantity === 70) {
            alert('Great Choice');
        }
    }
</script>
